.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* Adjust the height as needed */
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Ensure it stays on top of other content */
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 600px;
}

.search input {
    margin-top: -5px;
    margin-left: 100px;
    padding: 10px 35px 10px 10px;
    width: 1000px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1rem;
}

.search input::placeholder {
    color: black;
}

.search img {
    align-items: center;
    margin-right: 20px;
    margin-top: -7px;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    align-items: center;
    height: 3rem;
    width: 35px;
    margin-left: 90px;
}

.logo h4 {
    align-items: center;
    font-size: 1.5rem;

    margin-left: 0px;
    color: white;
}

.icons {
    display: flex;
    gap: 30px;
    margin-right: 20px;
    width: auto;
}

.icons img {
    height: 1.8rem;
    width: auto;
}

.icons img:nth-child(3) {
    margin-left: 100px;
}

.user-container {
    position: relative;
    display: inline-block;

}

.dropdown-menu-container {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0cqi;
    width: auto;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
    display: flex;
    min-width: 200px;
    z-index: 1000;
}

.dropdown-menu-container p {
    display: flex;
    align-items: center;
    color: black;
    margin: 0;
    margin-left: -10px;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s ease-in-out;
}
.dropdown-menu-container img{
    height: 1.2rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu-container p:hover {
    background-color: #ccc;
}