/* styles.css */
body {
    background-color: white;
    color: #fffbfb;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

.heading-container {
    margin-top: -20px;
    background-color: white;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading-container h1 {
    color: black;
    float: left;
    font-family: 'Lucida Handwriting', monospace;
    margin-top: 35px;
    margin-left: 20px;
    position: relative;
}

button.image-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
}

button.image-nav-button.left {
    left: 0;
    margin-top: 10px;
}

button.image-nav-button.right {
    right: 0;
}

/* Container for the sort dropdown */
.sort-container {
    position: fixed;
    font-family: 'Monaco', sans-serif;
    top: 100px;
    right: 20px;
    width: 200px;
    z-index: 10;
}

/* Button styling */
.sort-button {
    display: flex;
    align-items: center;
    padding: 10px 27px;
    border: 1px solid #ddd;
    width: 100%;
    background-color: white;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sort-button:hover {
    background-color: #f1f1f1;
}

/* Dropdown menu */
.sort-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 4px;
}

/* Dropdown items */
.sort-option {
    padding: 10px 15px;
    color: #090909;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sort-option:hover {
    background-color: #f1f1f1;
}

.sort-option.selected {
    background-color: #f1f1f1;
    font-weight: bold;
}

/* Chevron icon */
.chevron-icon {
    margin-left: 8px;
    font-size: 14px;
    transition: transform 0.2s;
}

.rotate-icon {
    transform: rotate(180deg);
}

.sort-label {
    margin-right: 10px;
    color: rgb(118, 125, 125);
}

.product-list-container {
    display: flex;

}

.filter-container {
    flex: 0 0 350px;
    width: 100px;
    background-color: rgb(236, 242, 244);
    

}

.product-container {
    flex: 1;
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 70px;

}

.image-nav {
    border-radius: 50%;
}

.image-toggle-button {
    background-color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 20px;
    margin-top: -240px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image styling */
.toggle-image {
    width: 30px;
    height: 30px;
}

/* Image hover effect */
.toggle-image:hover {
    opacity: 0.8;
    transform: scale(0.95);
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.page-link:hover {
    background-color: #f1f1f1;
}